@font-face {
    font-family: 'Dana';
    src: url('/public/fonts/dana/Dana-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Dana Meduim';
    src: url('/public/fonts/dana/Dana-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Dana DemiBold';
    src: url('/public/fonts/dana/Dana-DemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Morabba Light';
    src: url('/public/fonts/morabba/Morabba-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Morabba Medium';
    src: url('/public/fonts/morabba/Morabba-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Morabba Bold';
    src: url('/public/fonts/morabba/Morabba-Bold.woff2') format('woff2');
}

@import "tailwindcss";

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
    @apply lg:px-[0.625rem]
}

@theme {
    --color-brown-100: #ECE0D1;
    --color-brown-300: #DBC1AC;
    --color-brown-600: #967259;
    --color-brown-900: #634832;
    --shadow-normal: 0px 1px 10px rgba(0,0,0,0.05);
    --radius-4xl: 2rem;
    --font-Dana: 'Dana';
    --font-DanaMedium: 'Dana Meduim';
    --font-DanaDemiBold: 'Dana DemiBold';
    --font-MorabbaLight: 'Morabba Light';
    --font-MorabbaMedium: 'Morabba Medium';
    --font-MorabbaBold: 'Morabba Bold';
    --tracking-tightest: -0.065em;
    --breakpoint-2xl: initial;
    --breakpoint-xs: 480px;
}

@custom-variant dark (&:where(.dark, .dark *));

/* FA Number */
.ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

@layer components {
    .submenu{
        @apply hidden flex-col gap-y-3 pr-8 pb-2 mt-3 text-sm text-zinc-600 dark:text-white
    }
    .submenu-open{
        @apply flex
    }
    .submenu-item-active{
        /* @apply relative text-orange-300 pr-2.5 */
        /* or */
        position: relative;
        color: #fdba74;
        padding-right: 10px;
    }
    .submenu-item-active::after{
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100px;
        background-color: #fdba74;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .circle-main{
        @apply absolute bottom-0 right-0 left-0 mx-auto translate-y-2/4
    }
    .circle{
        @apply hidden md:flex justify-center items-center border rounded-full
    }
    .circle-lg{
        @apply  w-[203px] h-[203px] border-white/25
    }
    .circle-md{
        @apply  w-[145px] h-[145px] border-white/50
    }
    .circle-sm{
        @apply  w-[95px] h-[95px] border-white/80
    }
}